{% extends 'base.html' %} 

{% block main %} 

<h1>Login</h1>
<h3>
{% include 'messages.html' %}
</h3>
{# if not current_user.is_authenticated #}
<a href="{{ url_for('home') }}">Home</a>
{# endif #}
<form action = '/api/users/{{ current_user.id }}/wishlist' method = 'POST' enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    
    {{ form.wishtitle.label }}
    {{ form.wishtitle(size = 30, class = 'none') }}
    <br />
    {{ form.weburl.label }}
    {{ form.weburl(size = 30, class = 'none') }}
    <br />
    {{ form.description.label }}
    {{ form.description(class = 'none') }}
    <br />
    <input type="submit" value="Submit"/>
</form>

{% endblock %}