{% extends 'base.html' %} 

{% block main %} 

<h1>Register</h1>
<h3>
{% include 'messages.html' %}
</h3>
<form action = '/api/user/register' method = 'POST' enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    {{ form.csrf_token }}
    
    {{ form.firstname.label }}
    {{ form.firstname(size = 30, class = 'none') }}
    <br />
    {{ form.lastname.label }}
    {{ form.lastname(size = 30, class = 'none') }}
    <br />
    {{ form.username.label }}
    {{ form.username(size = 30, class = 'none') }}
    <br />
    {{ form.password.label }}
    {{ form.password(size = 30, class = 'none') }}
    <br />
    {{ form.confirmpass.label }}
    {{ form.confirmpass(size = 30, class = 'none') }}
    <br />
    {{ form.image.label }}
    {{ form.image(class = 'none') }}
    <br />
    <input type="submit" value="Submit"/>
</form>

{% endblock %}