html{
    position: relative;
    min-height: 100%;
}

body {
    /*margin-top: 60px;*/
    margin-bottom: 150px;
    background: #eee !important;
}

.footer {
    margin: 0px auto;
    padding: 10px;
    text-align: center;
    background-color: #272626;
    position: absolute;
    bottom: 0;
    width: 100%;
    color: #fff;
    
}

.wrapper {	
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin, .form-signup, .form-wish, .form-btn{
    /*max-width: 600px;*/
    padding: 15px 35px 10px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  

}

.alert {
    font-size: x-small;
    padding: 5px;
}

.form-signin, .form-signup, .form-wish{
    max-width: 600px;
}
.form-btn{
    padding-bottom: 45px;
    border-top: none;
}

input[type="text"], input[type="password"] {
    margin-bottom: 5px;
    border-radius: 5px;
}


.form-signin input[type="password"] {
    margin-bottom: 20px;
}


.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}


.checkbox {
    font-size: x-small;
}

.form-heading, .checkbox {
    margin-bottom: 30px;
}

.btn:hover {
    cursor: pointer !important;
}

.masthead .ui.header {
  font-size: 3em;
}

.divider{
    margin-top: 0px;
    
}
