
body {
    /*background: #eee !important;*/
    background-image: url("https://ununsplash.imgix.net/uploads/1413259835094dcdeb9d3/6e609595?q=75&fm=jpg&s=6a4fc66161293fc4a43a6ca6f073d1c5");
}

.wrapper {	
    margin-top: 80px;
    margin-bottom: 80px;
}

.form-signin, .form-signup, .form-wish, .form-btn{
    padding: 15px 35px 10px;
    margin: 0 auto;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,0.1);  

}

.alert {
    font-size: x-small;
    padding: 5px;
}

.form-signin, .form-signup, .form-wish{
    max-width: 600px;
}
.form-btn{
    padding-bottom: 45px;
    border-top: none;
}

input[type="text"], input[type="password"] {
    margin-bottom: 5px;
    border-radius: 5px;
}


.form-signin input[type="password"] {
    margin-bottom: 20px;
}


.form-control {
    position: relative;
    font-size: 16px;
    height: auto;
    padding: 10px;
}


.checkbox {
    font-size: x-small;
}

.form-heading, .checkbox {
    margin-bottom: 30px;
}

.btn:hover, a:hover {
    cursor: pointer !important;
}

.masthead .ui.header {
  font-size: 3em;
}

.divider{
    margin-top: 0px;
    
}

.profile{
    margin: 0px auto;
    padding-top: 40px;
}

.wrap {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -160px;
    padding: 0 0 160px;
}

#footer {
    height: 160px;
    margin-top:50px;
    padding-top:20px;
    padding-bottom:20px;
    background-color: #ee6e73;
    color: #fff;
}

.navbar-header a, .navbar-nav li a{
    color: #fff !important;
    font-size: x-large;
}

.navbar{
    background-color: #ee6e73;
}

.navbar-header a:hover, .navbar-nav li a:hover{
    color :  #656565 !important;
}

.btn-grp{
    margin-top: 100px;
}
.btn-grp .btn-lg{
    margin-top: 30px;
    padding: 30px;
}

.btn-secondary {
    border: 1px solid #96c5fb;
}

.thumb-image span{
    float:left; 
    margin-right: 30px;
}

.thumb-image span:hover{
    cursor: pointer;
}